DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DB_ENGINE=postgresql
POSTGRES_DB=chocolate_db
POSTGRES_USER=chocolate_user
POSTGRES_PASSWORD=chocolate_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
