--
-- PostgreSQL database dump
--

\restrict zCXm8ZVLQROLfQXu7DH28QLTVXoAjoFwnlvZCY2uKNVhLDELWGDwEVCtkCKIi25

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO chocolate_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO chocolate_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO chocolate_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO chocolate_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO chocolate_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO chocolate_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO chocolate_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO chocolate_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO chocolate_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO chocolate_user;

--
-- Name: ecommerce_carrito; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.ecommerce_carrito (
    id uuid NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    usuario_id integer NOT NULL
);


ALTER TABLE public.ecommerce_carrito OWNER TO chocolate_user;

--
-- Name: ecommerce_categoria; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.ecommerce_categoria (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL
);


ALTER TABLE public.ecommerce_categoria OWNER TO chocolate_user;

--
-- Name: ecommerce_categoria_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.ecommerce_categoria ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ecommerce_categoria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ecommerce_detallepedido; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.ecommerce_detallepedido (
    id uuid NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(10,2) NOT NULL,
    pedido_id uuid NOT NULL,
    producto_id uuid NOT NULL,
    CONSTRAINT ecommerce_detallepedido_cantidad_check CHECK ((cantidad >= 0))
);


ALTER TABLE public.ecommerce_detallepedido OWNER TO chocolate_user;

--
-- Name: ecommerce_envio; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.ecommerce_envio (
    id uuid NOT NULL,
    direccion_entrega character varying(255) NOT NULL,
    fecha_entrega date,
    numero_guia character varying(80) NOT NULL,
    estado character varying(20) NOT NULL,
    pedido_id uuid NOT NULL
);


ALTER TABLE public.ecommerce_envio OWNER TO chocolate_user;

--
-- Name: ecommerce_itemcarrito; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.ecommerce_itemcarrito (
    id uuid NOT NULL,
    cantidad integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    carrito_id uuid NOT NULL,
    producto_id uuid NOT NULL,
    CONSTRAINT ecommerce_itemcarrito_cantidad_check CHECK ((cantidad >= 0))
);


ALTER TABLE public.ecommerce_itemcarrito OWNER TO chocolate_user;

--
-- Name: ecommerce_pedido; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.ecommerce_pedido (
    id uuid NOT NULL,
    fecha timestamp with time zone NOT NULL,
    estado character varying(20) NOT NULL,
    total numeric(12,2) NOT NULL,
    usuario_id integer NOT NULL,
    factura_pdf character varying(100)
);


ALTER TABLE public.ecommerce_pedido OWNER TO chocolate_user;

--
-- Name: ecommerce_perfilusuario; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.ecommerce_perfilusuario (
    id bigint NOT NULL,
    rol character varying(10) NOT NULL,
    nombre_tienda character varying(200) NOT NULL,
    telefono character varying(20) NOT NULL,
    usuario_id integer NOT NULL,
    direccion character varying(255) NOT NULL,
    nombre character varying(200) NOT NULL
);


ALTER TABLE public.ecommerce_perfilusuario OWNER TO chocolate_user;

--
-- Name: ecommerce_perfilusuario_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.ecommerce_perfilusuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ecommerce_perfilusuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ecommerce_producto; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.ecommerce_producto (
    id uuid NOT NULL,
    nombre character varying(150) NOT NULL,
    descripcion text NOT NULL,
    precio numeric(10,2) NOT NULL,
    stock integer NOT NULL,
    marca character varying(120) NOT NULL,
    imagen character varying(100),
    activo boolean NOT NULL,
    tienda_id integer,
    categoria_id bigint,
    CONSTRAINT ecommerce_producto_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.ecommerce_producto OWNER TO chocolate_user;

--
-- Name: ecommerce_rese├▒a; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public."ecommerce_rese├▒a" (
    id uuid NOT NULL,
    calificacion smallint NOT NULL,
    comentario text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    producto_id uuid NOT NULL,
    usuario_id integer NOT NULL,
    CONSTRAINT "ecommerce_rese├▒a_calificacion_check" CHECK ((calificacion >= 0))
);


ALTER TABLE public."ecommerce_rese├▒a" OWNER TO chocolate_user;

--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO chocolate_user;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: chocolate_user
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id integer,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO chocolate_user;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: chocolate_user
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	token_blacklist	blacklistedtoken
8	token_blacklist	outstandingtoken
9	ecommerce	producto
10	ecommerce	carrito
11	ecommerce	itemcarrito
12	ecommerce	pedido
13	ecommerce	detallepedido
14	ecommerce	perfilusuario
15	ecommerce	envio
16	ecommerce	rese├▒a
17	ecommerce	categoria
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: ecommerce_carrito; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.ecommerce_carrito (id, created_at, updated_at, usuario_id) FROM stdin;
\.


--
-- Data for Name: ecommerce_categoria; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.ecommerce_categoria (id, nombre) FROM stdin;
1	Otros
2	Protector solar
3	Contorno de ojos
4	Limpiadores
5	Cremas
6	T├│nicos
7	Exfoliantes
8	M├íscaras
9	Serums
\.


--
-- Data for Name: ecommerce_detallepedido; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--



--
-- Data for Name: ecommerce_envio; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--



--
-- Data for Name: ecommerce_itemcarrito; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.ecommerce_itemcarrito (id, cantidad, created_at, updated_at, carrito_id, producto_id) FROM stdin;
\.


--
-- Data for Name: ecommerce_pedido; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--



--
-- Data for Name: ecommerce_perfilusuario; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.ecommerce_perfilusuario (id, rol, nombre_tienda, telefono, usuario_id, direccion, nombre) FROM stdin;
2	tienda	RosaArte	+573148765432	2		Emilton Mena
3	tienda	Rhore	3254676484846	3		Karen Sevillano
1	cliente		3203987425	1	Cl. 63 Sur #43A-11, Alto Las Flores, Sabaneta, Sabaneta	Admin
\.


--
-- Data for Name: ecommerce_producto; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--



--
-- Data for Name: ecommerce_rese├▒a; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public."ecommerce_rese├▒a" (id, calificacion, comentario, created_at, producto_id, usuario_id) FROM stdin;
ca0a8403-9747-4913-a272-87cb8c10ec7c	5	Buen producto	2026-03-25 04:14:13.280205+00	fd56bff6-f1a4-4503-99d5-317ddbb3ce80	1
\.


--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--

COPY public.token_blacklist_blacklistedtoken (id, blacklisted_at, token_id) FROM stdin;
1	2026-03-25 01:27:08.12842+00	2
2	2026-03-25 01:35:45.629769+00	4
3	2026-03-25 04:12:16.169071+00	12
4	2026-03-25 04:12:37.79885+00	13
5	2026-03-25 04:14:19.344408+00	14
6	2026-03-25 04:14:38.8141+00	15
38	2026-03-25 11:11:58.285413+00	48
39	2026-03-25 11:12:05.825853+00	49
40	2026-03-25 11:22:56.984216+00	50
41	2026-03-25 11:25:12.550471+00	51
\.


--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: chocolate_user
--



--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 3, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 41, true);


--
-- Name: ecommerce_categoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.ecommerce_categoria_id_seq', 9, true);


--
-- Name: ecommerce_perfilusuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.ecommerce_perfilusuario_id_seq', 3, true);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 41, true);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: chocolate_user
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 54, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: ecommerce_carrito ecommerce_carrito_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_carrito
    ADD CONSTRAINT ecommerce_carrito_pkey PRIMARY KEY (id);


--
-- Name: ecommerce_carrito ecommerce_carrito_usuario_id_key; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_carrito
    ADD CONSTRAINT ecommerce_carrito_usuario_id_key UNIQUE (usuario_id);


--
-- Name: ecommerce_categoria ecommerce_categoria_nombre_key; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_categoria
    ADD CONSTRAINT ecommerce_categoria_nombre_key UNIQUE (nombre);


--
-- Name: ecommerce_categoria ecommerce_categoria_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_categoria
    ADD CONSTRAINT ecommerce_categoria_pkey PRIMARY KEY (id);


--
-- Name: ecommerce_detallepedido ecommerce_detallepedido_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_detallepedido
    ADD CONSTRAINT ecommerce_detallepedido_pkey PRIMARY KEY (id);


--
-- Name: ecommerce_envio ecommerce_envio_pedido_id_key; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_envio
    ADD CONSTRAINT ecommerce_envio_pedido_id_key UNIQUE (pedido_id);


--
-- Name: ecommerce_envio ecommerce_envio_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_envio
    ADD CONSTRAINT ecommerce_envio_pkey PRIMARY KEY (id);


--
-- Name: ecommerce_itemcarrito ecommerce_itemcarrito_carrito_id_producto_id_aecc64af_uniq; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_itemcarrito
    ADD CONSTRAINT ecommerce_itemcarrito_carrito_id_producto_id_aecc64af_uniq UNIQUE (carrito_id, producto_id);


--
-- Name: ecommerce_itemcarrito ecommerce_itemcarrito_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_itemcarrito
    ADD CONSTRAINT ecommerce_itemcarrito_pkey PRIMARY KEY (id);


--
-- Name: ecommerce_pedido ecommerce_pedido_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_pedido
    ADD CONSTRAINT ecommerce_pedido_pkey PRIMARY KEY (id);


--
-- Name: ecommerce_perfilusuario ecommerce_perfilusuario_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_perfilusuario
    ADD CONSTRAINT ecommerce_perfilusuario_pkey PRIMARY KEY (id);


--
-- Name: ecommerce_perfilusuario ecommerce_perfilusuario_usuario_id_key; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_perfilusuario
    ADD CONSTRAINT ecommerce_perfilusuario_usuario_id_key UNIQUE (usuario_id);


--
-- Name: ecommerce_producto ecommerce_producto_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_producto
    ADD CONSTRAINT ecommerce_producto_pkey PRIMARY KEY (id);


--
-- Name: ecommerce_rese├▒a ecommerce_rese├▒a_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public."ecommerce_rese├▒a"
    ADD CONSTRAINT "ecommerce_rese├▒a_pkey" PRIMARY KEY (id);


--
-- Name: ecommerce_rese├▒a ecommerce_rese├▒a_producto_id_usuario_id_1ee3f383_uniq; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public."ecommerce_rese├▒a"
    ADD CONSTRAINT "ecommerce_rese├▒a_producto_id_usuario_id_1ee3f383_uniq" UNIQUE (producto_id, usuario_id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: ecommerce_categoria_nombre_fa484740_like; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX ecommerce_categoria_nombre_fa484740_like ON public.ecommerce_categoria USING btree (nombre varchar_pattern_ops);


--
-- Name: ecommerce_detallepedido_pedido_id_2b27e44b; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX ecommerce_detallepedido_pedido_id_2b27e44b ON public.ecommerce_detallepedido USING btree (pedido_id);


--
-- Name: ecommerce_detallepedido_producto_id_badd7a2f; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX ecommerce_detallepedido_producto_id_badd7a2f ON public.ecommerce_detallepedido USING btree (producto_id);


--
-- Name: ecommerce_itemcarrito_carrito_id_60c4faf8; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX ecommerce_itemcarrito_carrito_id_60c4faf8 ON public.ecommerce_itemcarrito USING btree (carrito_id);


--
-- Name: ecommerce_itemcarrito_producto_id_96ba4caa; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX ecommerce_itemcarrito_producto_id_96ba4caa ON public.ecommerce_itemcarrito USING btree (producto_id);


--
-- Name: ecommerce_p_catego_12f799_idx; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX ecommerce_p_catego_12f799_idx ON public.ecommerce_producto USING btree (categoria_id, activo);


--
-- Name: ecommerce_pedido_usuario_id_bae8e245; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX ecommerce_pedido_usuario_id_bae8e245 ON public.ecommerce_pedido USING btree (usuario_id);


--
-- Name: ecommerce_producto_categoria_id_8e5a1cdf; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX ecommerce_producto_categoria_id_8e5a1cdf ON public.ecommerce_producto USING btree (categoria_id);


--
-- Name: ecommerce_producto_tienda_id_49e5a762; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX ecommerce_producto_tienda_id_49e5a762 ON public.ecommerce_producto USING btree (tienda_id);


--
-- Name: ecommerce_rese├▒a_producto_id_e3eb4cd3; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX "ecommerce_rese├▒a_producto_id_e3eb4cd3" ON public."ecommerce_rese├▒a" USING btree (producto_id);


--
-- Name: ecommerce_rese├▒a_usuario_id_87c75aa3; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX "ecommerce_rese├▒a_usuario_id_87c75aa3" ON public."ecommerce_rese├▒a" USING btree (usuario_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: chocolate_user
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_carrito ecommerce_carrito_usuario_id_c03243af_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_carrito
    ADD CONSTRAINT ecommerce_carrito_usuario_id_c03243af_fk_auth_user_id FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_detallepedido ecommerce_detalleped_pedido_id_2b27e44b_fk_ecommerce; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_detallepedido
    ADD CONSTRAINT ecommerce_detalleped_pedido_id_2b27e44b_fk_ecommerce FOREIGN KEY (pedido_id) REFERENCES public.ecommerce_pedido(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_detallepedido ecommerce_detalleped_producto_id_badd7a2f_fk_ecommerce; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_detallepedido
    ADD CONSTRAINT ecommerce_detalleped_producto_id_badd7a2f_fk_ecommerce FOREIGN KEY (producto_id) REFERENCES public.ecommerce_producto(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_envio ecommerce_envio_pedido_id_9115b27c_fk_ecommerce_pedido_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_envio
    ADD CONSTRAINT ecommerce_envio_pedido_id_9115b27c_fk_ecommerce_pedido_id FOREIGN KEY (pedido_id) REFERENCES public.ecommerce_pedido(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_itemcarrito ecommerce_itemcarrit_carrito_id_60c4faf8_fk_ecommerce; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_itemcarrito
    ADD CONSTRAINT ecommerce_itemcarrit_carrito_id_60c4faf8_fk_ecommerce FOREIGN KEY (carrito_id) REFERENCES public.ecommerce_carrito(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_itemcarrito ecommerce_itemcarrit_producto_id_96ba4caa_fk_ecommerce; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_itemcarrito
    ADD CONSTRAINT ecommerce_itemcarrit_producto_id_96ba4caa_fk_ecommerce FOREIGN KEY (producto_id) REFERENCES public.ecommerce_producto(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_pedido ecommerce_pedido_usuario_id_bae8e245_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_pedido
    ADD CONSTRAINT ecommerce_pedido_usuario_id_bae8e245_fk_auth_user_id FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_perfilusuario ecommerce_perfilusuario_usuario_id_a4b8e445_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_perfilusuario
    ADD CONSTRAINT ecommerce_perfilusuario_usuario_id_a4b8e445_fk_auth_user_id FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_producto ecommerce_producto_categoria_id_8e5a1cdf_fk_ecommerce; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_producto
    ADD CONSTRAINT ecommerce_producto_categoria_id_8e5a1cdf_fk_ecommerce FOREIGN KEY (categoria_id) REFERENCES public.ecommerce_categoria(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_producto ecommerce_producto_tienda_id_49e5a762_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.ecommerce_producto
    ADD CONSTRAINT ecommerce_producto_tienda_id_49e5a762_fk_auth_user_id FOREIGN KEY (tienda_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_rese├▒a ecommerce_rese├▒a_producto_id_e3eb4cd3_fk_ecommerce_producto_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public."ecommerce_rese├▒a"
    ADD CONSTRAINT "ecommerce_rese├▒a_producto_id_e3eb4cd3_fk_ecommerce_producto_id" FOREIGN KEY (producto_id) REFERENCES public.ecommerce_producto(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ecommerce_rese├▒a ecommerce_rese├▒a_usuario_id_87c75aa3_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public."ecommerce_rese├▒a"
    ADD CONSTRAINT "ecommerce_rese├▒a_usuario_id_87c75aa3_fk_auth_user_id" FOREIGN KEY (usuario_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: chocolate_user
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_auth_user FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict zCXm8ZVLQROLfQXu7DH28QLTVXoAjoFwnlvZCY2uKNVhLDELWGDwEVCtkCKIi25

